<footer id="footer_site" class="page page-row" role="contentinfo">
  <div class="region region-footer">
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-5 col-md-4 col-lg-4 text-center-xs text-left-not-xs">
          <div class="row bottom-buffer-30">
            <div class="col-xs-12">
              <a href="/" title="{{ .Site.Title }} | Home"
                class="remove-external-link-icon active"><img
                  src="{{ "images/logo.png" | relURL }}"
                  alt="{{ .Site.Title }} | Home"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12"><hr></div>
      </div>
    </div>
  </div>
  <div id="footer_sub" class="region region-footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="small"><a
              href="https://www.arizona.edu/information-security-privacy"
              target="_blank" rel="noopener noreferrer">University Information
              Security and Privacy</a></p>
          <p class="copyright small">&copy; {{ now.Year }} The Arizona Board of Regents on
            behalf of <a href="https://www.arizona.edu" target="_blank"
              rel="noopener noreferrer">The University of Arizona</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
