<header id="header_ua"
  class="page-row l-arizona-header bg-red bg-cochineal-red">
  <section class="container l-container">
    <div class="row">
      <div class="col-xs-10 col-sm-6">
        <a href="https://www.arizona.edu"
          title="The University of Arizona homepage"
          class="arizona-logo remove-external-link-icon" target="_blank"
          rel="noopener noreferrer">
          <img alt="The University of Arizona Wordmark Line Logo White"
            src="https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg"
            class="arizona-line-logo">
        </a>
      </div>
    </div>
  </section>
</header>
