<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

  {{ if .Permalink }}<base href="{{ .Permalink }}">{{ end }}

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  {{ if .Permalink }}<link rel="canonical" href="{{ .Permalink }}">{{ end }}

  {{ template "_internal/google_analytics.html" . }}

  {{ $css := sort (site.Data.ignite.assets.css) "weight" }}
  {{ range $css }}
    <link rel="stylesheet"
      href="{{ .url }}"
      integrity="{{ .hash }}"
      crossorigin="anonymous">
  {{ end }}

  {{ $js := sort (site.Data.ignite.assets.js) "weight" }}
  {{ range $js }}
    <script src="{{ .url }}"
      integrity="{{ .hash }}"
      crossorigin="anonymous"></script>
  {{ end }}
</head>
