<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

  {{ if .Permalink }}<base href="{{ .Permalink }}">{{ end }}

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  {{ if .Permalink }}<link rel="canonical" href="{{ .Permalink }}">{{ end }}

  <!-- Latest icon font stylesheet -->
  <link rel="stylesheet"
    href="https://cdn.uadigital.arizona.edu/lib/ua-brand-icons/v1.1.0/ua-brand-icons.min.css"
    integrity="sha384-nrB7GptG1OI9zHAcFwucuCrLIEAXWVwVfIQYxvhyTu54fmf6rmTjnLq16guHgBZu"
    crossorigin="anonymous">

  <!-- Compiled and minified UA Bootstrap CSS, icon font not included -->
  <link rel="stylesheet"
    href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.25/ua-bootstrap.min.css"
    integrity="sha384-XDBckODsKhWklJStuyt8/iIqNssnzTmUxk8mGNsb34sLMGzf6qGFa+DKoz9tSEC3"
    crossorigin="anonymous">

  <!-- jQuery -->
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB"
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script
    src="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.25/ua-bootstrap.min.js"
    integrity="sha384-Jr6YgsyT2Cw7xe11N6YZ/76cVoTM8qXRQ+u1d1F8n0XHp6zR6beIE1KBdZda3uwW"
    crossorigin="anonymous"></script>
</head>
